@charset "UTF-8";
/* Reset */
/* line 2, ../PAGINAS/martinbeccaria.com/scss/_structure.scss */
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

/* line 7, ../PAGINAS/martinbeccaria.com/scss/_structure.scss */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* line 13, ../PAGINAS/martinbeccaria.com/scss/_structure.scss */
body {
  min-height: 100%;
}

/* line 18, ../PAGINAS/martinbeccaria.com/scss/_structure.scss */
#cont {
  display: grid;
  grid-template-areas: "navs" "headers" "main" "foot";
  grid-template-columns: 100%;
  grid-template-rows: 6rem 63rem 100% 6rem;
}

/* line 31, ../PAGINAS/martinbeccaria.com/scss/_structure.scss */
.navs {
  grid-area: navs;
}

/* line 35, ../PAGINAS/martinbeccaria.com/scss/_structure.scss */
.headers {
  grid-area: headers;
}

/* line 39, ../PAGINAS/martinbeccaria.com/scss/_structure.scss */
main {
  grid-area: main;
  background-image: linear-gradient(to right, #434343 0%, black 100%);
}

/* line 44, ../PAGINAS/martinbeccaria.com/scss/_structure.scss */
.foot {
  grid-area: foot;
  background-color: #1d1b1b;
}

/* line 49, ../PAGINAS/martinbeccaria.com/scss/_structure.scss */
h1 {
  font-family: 'Vast Shadow';
  font-size: 4rem;
  color: white;
}

/* line 55, ../PAGINAS/martinbeccaria.com/scss/_structure.scss */
h2 {
  font-family: 'Ramabhadra', sans-serif;
  font-size: 2.5rem;
  color: white;
  text-align: center;
  font-style: oblique;
}

/* line 63, ../PAGINAS/martinbeccaria.com/scss/_structure.scss */
h3 {
  font-family: 'Ramabhadra', sans-serif;
  font-size: 2rem;
  color: white;
  text-align: center;
  font-style: oblique;
}

/* line 71, ../PAGINAS/martinbeccaria.com/scss/_structure.scss */
p {
  font-family: 'Ramabhadra', sans-serif;
  font-style: oblique;
  color: white;
  font-size: 1.2rem;
}

/* line 1, ../PAGINAS/martinbeccaria.com/scss/_navbar.scss */
.navbar {
  height: 10rem;
  position: fixed;
  width: 100%;
  border: solid 0.5rem #393a39;
  box-shadow: 0 3px px #393a39;
  z-index: 1;
}

/* line 9, ../PAGINAS/martinbeccaria.com/scss/_navbar.scss */
.navbar .logo {
  width: 6rem;
}

/* line 13, ../PAGINAS/martinbeccaria.com/scss/_navbar.scss */
.navbar li {
  margin-right: 1.7rem;
  margin-left: 1.7rem;
  height: 3.5rem;
}

/* line 18, ../PAGINAS/martinbeccaria.com/scss/_navbar.scss */
.navbar li :hover {
  border-bottom: solid #29bc29;
}

/* line 23, ../PAGINAS/martinbeccaria.com/scss/_navbar.scss */
.navbar a {
  color: white;
  font-size: 1.8rem;
  font-family: 'Ramabhadra', sans-serif;
}

/* line 33, ../PAGINAS/martinbeccaria.com/scss/_navbar.scss */
.dropdown-menu {
  background-color: #1f1f1f;
}

/* line 36, ../PAGINAS/martinbeccaria.com/scss/_navbar.scss */
.dropdown-menu li a {
  text-decoration: none;
}

/* line 39, ../PAGINAS/martinbeccaria.com/scss/_navbar.scss */
.dropdown-menu li :hover {
  border-bottom: none;
  width: 10rem;
}

/* line 1, ../PAGINAS/martinbeccaria.com/scss/_header.scss */
.headers {
  --opacidad-negro: 0.7;
  background-image: linear-gradient(rgba(0, 0, 0, var(--opacidad-negro)), rgba(0, 0, 0, var(--opacidad-negro))), url(../img/header/backgroundHeader.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: space-around;
}

/* line 10, ../PAGINAS/martinbeccaria.com/scss/_header.scss */
.headers .titPrinc {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* line 15, ../PAGINAS/martinbeccaria.com/scss/_header.scss */
.headers .titPrinc h1 {
  margin-top: 5.5rem;
}

/* line 21, ../PAGINAS/martinbeccaria.com/scss/_header.scss */
.boxHeader {
  margin-top: 6rem;
}

/* line 25, ../PAGINAS/martinbeccaria.com/scss/_header.scss */
.box {
  height: 5rem;
  width: 27rem;
  padding: 1rem;
  margin: 2.3rem;
  border-radius: 14px;
  box-shadow: 0 3px 10px #4c9748;
  background-color: rgba(37, 37, 37, 0.555);
}

/* line 34, ../PAGINAS/martinbeccaria.com/scss/_header.scss */
.box a {
  text-decoration: none;
}

/* line 38, ../PAGINAS/martinbeccaria.com/scss/_header.scss */
.box h2:hover {
  border-bottom: solid green 0.5rem;
}

/* line 1, ../PAGINAS/martinbeccaria.com/scss/_sobreMi.scss */
#sobreMi {
  margin-top: 10rem;
  scroll-margin-top: 18em;
}

/* line 5, ../PAGINAS/martinbeccaria.com/scss/_sobreMi.scss */
#sobreMi .mainSobreMi {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 6rem;
}

/* line 11, ../PAGINAS/martinbeccaria.com/scss/_sobreMi.scss */
#sobreMi .mainSobreMi div {
  margin: 2rem;
}

/* line 15, ../PAGINAS/martinbeccaria.com/scss/_sobreMi.scss */
#sobreMi .mainSobreMi .imgMainSobreMi {
  display: flex;
  justify-content: center;
}

/* line 19, ../PAGINAS/martinbeccaria.com/scss/_sobreMi.scss */
#sobreMi .mainSobreMi .imgMainSobreMi .imgPerf {
  width: 32rem;
}

/* line 24, ../PAGINAS/martinbeccaria.com/scss/_sobreMi.scss */
#sobreMi .mainSobreMi .contSobreMi {
  width: 50%;
}

/* line 27, ../PAGINAS/martinbeccaria.com/scss/_sobreMi.scss */
#sobreMi .mainSobreMi .contSobreMi .titSobreMi {
  margin-top: 4rem;
  margin-bottom: 5rem;
  font-size: 4rem;
  text-align: initial;
}

/* line 34, ../PAGINAS/martinbeccaria.com/scss/_sobreMi.scss */
#sobreMi .mainSobreMi .contSobreMi p {
  margin-top: 1rem;
  font-size: 1.6rem;
  text-align: justify;
}

/* line 45, ../PAGINAS/martinbeccaria.com/scss/_sobreMi.scss */
#sobreMi .cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 4rem;
}

/* line 52, ../PAGINAS/martinbeccaria.com/scss/_sobreMi.scss */
#sobreMi .cards .card {
  margin-right: 2rem;
  margin-left: 2rem;
  width: 33rem;
  border: #6a6a6a 0.2rem;
  border-style: groove;
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* line 62, ../PAGINAS/martinbeccaria.com/scss/_sobreMi.scss */
#sobreMi .cards .card .imgSobreMi {
  width: 30rem;
  box-shadow: 0 2px 10px #454545;
  margin-bottom: 1.3rem;
  margin-top: 1rem;
}

/* line 68, ../PAGINAS/martinbeccaria.com/scss/_sobreMi.scss */
#sobreMi .cards .card .imgSobreMi :hover {
  box-shadow: 0 3px 10px #4c9748;
}

/* line 72, ../PAGINAS/martinbeccaria.com/scss/_sobreMi.scss */
#sobreMi .cards .card .imgSobreMi img {
  width: 100%;
  padding: 1rem;
  filter: gray;
  -webkit-filter: grayscale(1);
  -webkit-transition: all .8s ease-in-out;
}

/* line 81, ../PAGINAS/martinbeccaria.com/scss/_sobreMi.scss */
#sobreMi .cards .card .imgSobreMi img:hover {
  filter: none;
  -webkit-filter: grayscale(0);
  -webkit-transform: scale(1.01);
}

/* line 91, ../PAGINAS/martinbeccaria.com/scss/_sobreMi.scss */
#sobreMi .cards .card .card-title {
  margin-top: 1rem;
}

/* line 96, ../PAGINAS/martinbeccaria.com/scss/_sobreMi.scss */
#sobreMi .cards .card .botonCardC,
#sobreMi .cards .card .botonCardE,
#sobreMi .cards .card .botonCardF {
  width: 4.5rem;
  height: 2.5rem;
  background-color: #454545;
}

/* line 104, ../PAGINAS/martinbeccaria.com/scss/_sobreMi.scss */
#sobreMi .cards .card .contCardE,
#sobreMi .cards .card .contCardF,
#sobreMi .cards .card .contCardC {
  height: 0;
  overflow: hidden;
}

/* line 110, ../PAGINAS/martinbeccaria.com/scss/_sobreMi.scss */
#sobreMi .cards .card .contCardE li,
#sobreMi .cards .card .contCardF li,
#sobreMi .cards .card .contCardC li {
  list-style-type: "✔  ";
  font-family: 'Ramabhadra', sans-serif;
  font-style: oblique;
  color: white;
  font-size: 1.4rem;
  margin: 1.2rem 0 0 1.2rem;
}

/* line 119, ../PAGINAS/martinbeccaria.com/scss/_sobreMi.scss */
#sobreMi .cards .card .contCardE p,
#sobreMi .cards .card .contCardF p,
#sobreMi .cards .card .contCardC p {
  padding: 1rem;
  font-size: 1.4rem;
  text-align: start;
}

/* line 126, ../PAGINAS/martinbeccaria.com/scss/_sobreMi.scss */
#sobreMi .cards .card .on {
  overflow: visible;
  height: 28.5rem;
  -webkit-transition: height 1.2s ease-in-out;
}

/* line 134, ../PAGINAS/martinbeccaria.com/scss/_sobreMi.scss */
#sobreMi .cards .card .off {
  overflow: hidden;
}

/* line 1, ../PAGINAS/martinbeccaria.com/scss/_enfoques.scss */
#enfoques {
  margin-top: 15rem;
  scroll-margin-top: 25em;
  display: flex;
  justify-content: center;
}

/* line 7, ../PAGINAS/martinbeccaria.com/scss/_enfoques.scss */
#enfoques .enf1,
#enfoques .enf2,
#enfoques .enf3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 36rem;
  height: 30rem;
  border-width: 0px 0px 0px 2px;
  border-style: solid;
  border-color: #4c9748;
}

/* line 24, ../PAGINAS/martinbeccaria.com/scss/_enfoques.scss */
#enfoques .enf3 {
  border-width: 0px 2px 0px 2px;
  border-style: solid;
  border-color: #4c9748;
}

/* line 31, ../PAGINAS/martinbeccaria.com/scss/_enfoques.scss */
#enfoques .imgEnf {
  display: flex;
  align-items: center;
  width: 8rem;
  height: 8rem;
  margin-top: 3rem;
}

/* line 38, ../PAGINAS/martinbeccaria.com/scss/_enfoques.scss */
#enfoques .imgEnf img {
  width: 100%;
}

/* line 43, ../PAGINAS/martinbeccaria.com/scss/_enfoques.scss */
#enfoques .pEnf {
  height: 8rem;
}

/* line 46, ../PAGINAS/martinbeccaria.com/scss/_enfoques.scss */
#enfoques .pEnf p {
  text-align: center;
  padding: 3rem;
}

/* line 51, ../PAGINAS/martinbeccaria.com/scss/_enfoques.scss */
#enfoques .pEnf :hover {
  transform: scale(1.22);
}

@media (max-width: 768px) {
  /* line 62, ../PAGINAS/martinbeccaria.com/scss/_enfoques.scss */
  #enfoques {
    flex-direction: column;
    align-items: center;
  }
  /* line 66, ../PAGINAS/martinbeccaria.com/scss/_enfoques.scss */
  #enfoques .enf1,
  #enfoques .enf2,
  #enfoques .enf3 {
    margin-top: 4rem;
  }
  /* line 72, ../PAGINAS/martinbeccaria.com/scss/_enfoques.scss */
  #enfoques .enf1,
  #enfoques .enf2 {
    border-width: 0px 2px 0px 2px;
    border-style: solid;
    border-color: #4c9748;
  }
}

/*# sourceMappingURL=styles.css.map */