#enfoques {
    margin-top: 15rem;
    scroll-margin-top: 25em;
    display: flex;
    justify-content: center;

    .enf1,
    .enf2,
    .enf3 {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 36rem;
        height: 30rem;
        border-width: 0px 0px 0px 2px;
        border-style: solid;
        border-color: #4c9748;




    }

    .enf3 {
        border-width: 0px 2px 0px 2px;
        border-style: solid;
        border-color: #4c9748;
    }


    .imgEnf {
        display: flex;
        align-items: center;
        width: 8rem;
        height: 8rem;
        margin-top: $c;

        img {
            width: $total;
        }
    }

    .pEnf {
        height: 8rem;

        p {
            text-align: center;
            padding: 3rem;
        }

        :hover {
            transform: scale(1.22);
        }

    }

}


@include responsive (tablet) {

    #enfoques {
        flex-direction: column;
        align-items: center;

        .enf1,
        .enf2,
        .enf3 {
            margin-top: $d;
        }

        .enf1,
        .enf2 {
            border-width: 0px 2px 0px 2px;
            border-style: solid;
            border-color: #4c9748;
        }

    }
}