.headers {
    --opacidad-negro: 0.7;
    background-image: linear-gradient(rgba(0, 0, 0, var(--opacidad-negro)), rgba(0, 0, 0, var(--opacidad-negro))), url(../img/header/backgroundHeader.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: space-around;

    .titPrinc {
        display: flex;
        flex-direction: column;
        align-items: center;

        h1 {
            margin-top: 3.5rem;
        }
    }
}

.boxHeader {
    margin-top: 6rem;
}

.box {
    height: 5rem;
    width: 27rem;
    padding: 1rem;
    margin: 2.3rem;
    border-radius: 14px;
    box-shadow: 0 3px 10px #4c9748;
    background-color: rgba(37, 37, 37, 0.555);

    a {
        text-decoration: none;
    }

    h2:hover {
        border-bottom: solid green 0.5rem;
    }
}