.navbar {
    height: 10rem;
    position: fixed;
    width: $total;
    border: solid 0.5rem #393a39;
    box-shadow: 0 3px px #393a39;
    z-index: 1;

    .logo {
        width: 8rem;
    }

    li {
        margin-right: 1.7rem;
        margin-left: 1.7rem;
        height: 3.5rem;

        :hover {
            border-bottom: solid rgb(41, 188, 41);
        }
    }

    a {
        color: white;
        font-size: 1.8rem;
        font-family: 'Ramabhadra', sans-serif;
    }


    }


.dropdown-menu{
    background-color: #1f1f1f;
    li{
     :hover{
        border-bottom: none;
        width: 10rem;
    }    
    }
   
}

