#sobreMi{
    margin-top: 6rem;

}


.perfil{
 display: flex;
justify-content: center;
align-items: center;
margin-bottom: $a;


.divImgPerf{
    width: 25rem;
    margin: $d;

}
 .imgPerf{
    width: $total;
    border-radius: 20rem;
 }  

 h2{
    font-size: $d;
 }
}

.select{
    display: flex;
    justify-content: center;


}
.despl1,.despl2,.despl3{
    div{
        margin: $b;
    }
}



