/* Reset */
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  // min-height: $total;
}

// Estructura
#cont {
  display: grid;
  grid-template-areas:
    "navs"
    "headers"
    "main"
    "foot"
  ;

  grid-template-columns: $total;
  grid-template-rows: 8rem 63rem minmax(300rem, auto) 6rem;
}

.navs {
  grid-area: navs;
}

.headers {
  grid-area: headers;
}

main {
  grid-area: main;
  background-image: linear-gradient(to right, #434343 0%, black 100%);
}

.foot {
  grid-area: foot;
  background-color: rgb(29, 27, 27);
}

h1 {
  font-family: 'Vast Shadow' ;
  font-size: 4rem;
  color: white;
}

h2 {
  font-family: 'Ramabhadra', sans-serif;
  font-size: 2.5rem;
  color: white;
  text-align: center;
  font-style: oblique;
}

h3{
  font-family: 'Ramabhadra', sans-serif;
  font-size: 2rem;
  color: white;
  text-align: center;
  font-style: oblique;
}

p {
  font-family: 'Ramabhadra', sans-serif;
  font-style: oblique;
  color: white;
}