// Tamaños cajas
$total: 100%;
$big: 85%;
$medium: 50%;
$smallMedium: 40%;
$small: 25%;

// Rem

$a: 1rem;
$b: 2rem;
$c: 3rem;
$d: 4rem;
$e: 5rem;

// // Responsive Mixin
// $pc: 1200px;
// $tablet: 768px;
// $cel: 425px;

// @mixin responsive ($medida) {
//     @if $medida == pc {
//         @media (max-width: $pc){
//             @content;}
//     }

//     @else if $medida == tablet{
//         @media (max-width: $tablet){
//             @content;}
//     }

//     @else if $medida == cel{
//         @media (max-width: $cel){
//             @content;}
//     }

//     }
